@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: darkorchid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow: hidden;
    min-height: 100vh;
}

.bg {
    background: url('https://image.api.playstation.com/vulcan/ap/rnd/202208/1716/FUAGCZ4wStzz9CZ1SL93xGHU.png') no-repeat center center/cover;
    position: absolute;
    opacity: 0.9;
    top: -30;
    left: -30;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
  }

.quiz-container {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.6;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 2px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
}

.quiz-header {
    padding: 4rem;
}

.fa-brands {
  font-size: 2.6rem;
  color: green;
}

h2 {
    padding: 1rem;
    color: #b69451;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #fff;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    color: #fff4e2;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}

button:hover {
    background-color:darkcyan;
    color: gold;
}

/* corvinal */
.nav-bar-corner.left {
    left: 0;
}

.nav-bar-corner {
    position: absolute;
    top: 2px;
    width: 22vw;
}

.img-fluid, .img-thumbnail {
    height: auto;
    max-width: 100%;
}

/* lufa */
.nav-bar-corner.right {
    right: 0;
}

.nav-bar-corner {
    position: absolute;
    top: 2px;
    width: 22vw;
}

.img-fluid, .img-thumbnail {
    height: auto;
    max-width: 100%;
}

/* sonserina */
.nav-bar-corner.bottomLeft {
    bottom: 0;
    left: 0;
    top: auto;
}

.nav-bar-corner {
    position: absolute;
    top: 2px;
    width: 22vw;
}

.img-fluid, .img-thumbnail {
    height: auto;
    max-width: 100%;
}

/* grifinoria */
.nav-bar-corner.bottomRight {
    bottom: 0;
    right: 0;
    top: auto;
}

.nav-bar-corner {
    position: absolute;
    top: 2px;
    width: 22vw;
}
